body{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 1000px;
    position: relative;
    background-image: url('../assets/header.jpg');
    background-size: cover;
}

header img{
    padding-top: 20px;
    padding-left: 20px;
}

header a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

h1{    
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    padding-left: 10px;
}

h2{
    text-align: center;
}

nav{
    padding-top: 35px;
    padding-right: 30px;
    color:white;
    position: absolute;
    top: 0;
    right: 0;
}

div{
    background-color: white;
}

button{
    padding: 8px;
    margin-bottom:10px;
    background-color: orange;
}

footer{
    width: 100%;
    float: left;
    position: relative;
    background-color: grey;
    height: 50px;
    text-align: left;
}

footer a{
    margin: 15px;
    color: white;
    text-decoration: none;
}

footer span{
    position: absolute;
    right:0;
    bottom:20;
    color:white;
}

#encuentra{
    background-image:url("../assets/encuentra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

#encuentra button{
    margin-left: 20px;
    top:0;
    left:0;
}

#btnTodas{
    float: right;    
}

#comentarios{
    width: 40%;
    display: inline-block;
    float: left;
}

#comentarios h3{
    text-align: center;
}

#nuestroBlog{
    width: 60%;
    display: inline-block;
    float: left;
}

#nuestroBlog h3{
    text-align: center;
}

#nuestroBlog img{
    width: 40%;
    float: left;    
}

#nuestroBlog div{
    width: 60%;
    float: left;
}

.propiedad{
    background-color: cornflowerblue;
}

.card img{
    max-width: 90%;
    height: auto;
}

.card{
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.cards{
    width: 100%;
    padding: 20px;
    align-items: center;
}

.card .icono{
    width: 10%;
    padding: 5px;
    height: auto;
}